/***************VARIAVEIS DE CORES**************/

//body
$puddin-body-background-light-mode: #b3b5cb;

//header ***************************************
$puddin-header-background-light-mode: #297ba1;
$puddin-header-background-dark-mode: #023c57;
$puddin-header-color-light-mode-title: #ffffff;
$puddin-header-color-dark-mode-title: #018721;
$puddin-header-color-dark-mode-links: #eaff00;
$puddin-header-color-dark-mode-links-hover: #ffffff;
$puddin-header-color-light-mode-links: #f6ff00;
$puddin-header-color-light-mode-links-hover: #9ca025;
$puddin-header-burguer-bars: #420035;

//FIM HEADER ***************************************
//main
$puddin-main-transparent: #00000070;
$puddin-main-transparent-configs: #ae454538;
$puddin-main-transparent-configs-box-shadow: #ffffff42;
$puddin-main-transparent-configs-border: rgb(188, 142, 3);
$puddin-main-transparent-configs-input-bg: #705602;